.formersNoteSection{
    background-image: url('/src/Images/othersCommentBg.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 450px;
    height: auto;
    overflow: hidden;
    width: 100%;
}
.swiper-pagination{
    bottom: -1% !important;
}